#page-body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


/*/---  This section is for BOARD-VIEW  ---/*/
.board-view {
    color: blue;
}

/*/---  This section is for LIST-VIEW  ---/*/
.list-view {
    color: red;
}


